@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";


    var currentEnvironment = ViewData["environment"] as string;

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Group Assignment Devops - MSSE</h2>
    <p>This is my home page for AZURE V003 - MS DEVOPS SP 2023  - DevOps Assignment  </p>
    <p><b>This is the @currentEnvironment Environment </b></p>


    <p> Qurratulain Azeem (44338) - Develop <a href="https://finalprojectdevop.azurewebsites.net/"> Develop </a></p>
    <p> Syed Tahir Hussan (50104) - Test <a href="https://myfirstazureapp786.azurewebsites.net/"> Test </a></p>
    <p> Daud Nasir Kiyani (45456) - Stage <a href="https://daudkiyani.azurewebsites.net/">Stage</a></p>
    <p> Mawaz Ejaz (45836) - Production <a href="https://mawaz.azurewebsites.net/">Production</a></p>
    
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

</div>
